*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    line-height: 50px;
    height: 50px;
}
.navbar-nav{
    margin-right: 3rem;
}
.navbar-brand{
    margin-left: 2rem;
}
.container-fluid{
    color : white;
}
.collapse ul li a, .navbar-brand{
    color: white !important;
}
.collapse ul li:hover a{
    color : red !important;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}

